# CHANGELOG

{% set latest_version, latest_release = context.history.released.items() | list | first %}

{% for version, release in context.history.released.items() %}

{% if version == latest_version %}
## 🎉 [`{{ version.as_tag() }}`](https://github.com/groc-prog/pyneo4j-ogm/releases/tag/{{ version.as_tag() }}) has been released on {{ release.tagged_date.strftime("%Y-%m-%d") }}! Check out all new features and bugfixes
{% else %}
## What's Changed in [`{{ version.as_tag() }}`](https://github.com/groc-prog/pyneo4j-ogm/releases/tag/{{ version.as_tag() }})
{% endif %}

{% for type_, commits in release["elements"] | dictsort %}
{% if type_ in ["features", "bug fixes", "performance improvements", "documentation"] %}

{% if type_ == "bug fixes" %}
### 🐛 {{ type_ | capitalize }}
{% elif type_ == "features" %}
### 🚀 {{ type_ | capitalize }}
{% elif type_ == "performance improvements" %}
### ⚡ {{ type_ | capitalize }}
{% elif type_ == "documentation" %}
### 📚 {{ type_ | capitalize }}
{% endif %}

{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}

{% endif %}
{% endfor %}

{% endfor %}
