# CHANGELOG
{% if context.history.unreleased | length > 0 %}

{# UNRELEASED #}
## Unreleased
{% for type_, commits in context.history.unreleased | dictsort %}
{% if type_ in ["feature", "fix", "performance", "documentation", "refactor"] %}
### {{ type_ | capitalize }}
{% for commit in commits %}{% if type_ in ["feature", "fix", "performance", "documentation", "refactor"] %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endif %}{% endfor %}{% endif %}{% endfor %}

{% endif %}

{# RELEASED #}
{% for version, release in context.history.released.items() %}
## What's Changed in {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% for type_, commits in release["elements"] | dictsort %}
{% if type_ in ["feature", "fix", "performance", "documentation", "refactor"] %}
### {{ type_ | capitalize }}
{% for commit in commits %}
{% if type_ in ["feature", "fix", "performance", "documentation", "refactor"] %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endif %}{% endfor %}{% endif %}{% endfor %}{% endfor %}
